:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --trans-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--light-gray);
  font-family: 'Lexend Deca', sans-serif;
}

img {
  width: 4rem;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-gray);
}

p {
  font-size: 0.94rem;
  line-height: 1.7;
  color: var(--trans-white);
}

.card {
  width: 14.5rem;
  padding: 3rem;
}

.first {
  background-color: var(--orange);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.second {
  background-color: var(--cyan);
}

.third {
  background-color: var(--dark-cyan);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.btn {
  background-color: var(--light-gray);
  border: 0.15rem var(--light-gray) solid;
  border-radius: 1.75rem;
  display: inline-block;
  cursor: pointer;
  font-size: 0.94rem;
  padding: 0.75rem 1.8rem;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 0.8rem;
}

.btn-first {
  color: var(--orange);
}

.btn-second {
  color: var(--cyan);
}

.btn-third {
  color: var(--dark-cyan);
}

.btn:hover {
  background-color: Transparent;
  color: var(--light-gray);
}

@media screen and (min-width: 1024px) {
  body {
    flex-direction: row;
  }

  .card {
    width: 13.2rem;
  }

  .first {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .third {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .btn {
    margin-top: 4rem;
  }
}
